<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>

<body>

<!-- 导航 -->
<div class="ui fixed menu">
    <nav class="ui  attached segment my-padded-tb-mini my-shadow-small">
        <div class="ui container">
            <div class="ui  secondary stackable menu">
                <h2 class="ui teal header item">Mail</h2>
                <a href="#" th:href="@{/index}" class=" m-item item my-mobile-hidden"><i class="home icon"></i>首页</a>
                <a href="write-mail.html" th:href="@{/writeMail}" class=" m-item item my-mobile-hidden"><i class="edit icon"></i>写信</a>
                <a href="inbox.html" th:href="@{/inbox}" class=" m-item item my-mobile-hidden"><i class="inbox icon"></i>收件箱</a>
                <a href="sent.html" th:href="@{/sent}" class=" m-item item my-mobile-hidden"><i class="envelope icon"></i>已发送</a>
                <a href="self.html" th:href="@{/self}" class=" m-item item my-mobile-hidden"><i class="user icon"></i>用户中心</a>

            </div>
        </div>
        <a href="#" class="ui menu toggle icon button my-right-top my-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<div class="my-container my-padded-tb-large">
    <div class="ui container">
        <div class="ui segment">
            <div class="ui grid">
                <div class="twelve wide column">
                    <img class="ui image" src="../static/img/dog.jpg" th:src="@{/img/dog.jpg}">
                </div>
                <div class="four wide column">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <div class="ui header">页面找不到啦-_-...</div>
                    <span id="second" style="font-size: 24px;">5</span>&nbsp;秒后跳转到<a href="index.html" th:href="@{/index}">首页</a>
                </div>
            </div>

        </div>
    </div>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


<!-- 底部 -->
<footer class="ui segment my-padded-tb-large">
    <div class="ui center aligned container">
        <div class="ui  section divider"></div>
        <p class="my-opacity-mini">Copyright © 2019 Designed by farewell</p>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script th:inline="javascript">
    $('.menu.toggle').click(function () {
        $('.m-item ').toggleClass('my-mobile-hidden');
    });

    var secs = 5; //倒计时的秒数
    var URL;
    function Load(url) {
        URL = url;
        for (var i = secs; i >= 0; i--) {
            window.setTimeout('doUpdate(' + i + ')', (secs - i) * 1000);
        }
    }
    function doUpdate(num) {
        document.getElementById('second').innerHTML = num;
        if (num === 0) { window.location = URL; }
    }
    $(function () {
        /*<![CDATA[*/
        var url= /*[[@{/index}]]*/"index";
        /*]]>*/
        Load(url);
    });
</script>
</body>

</html>