<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzz.neko.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.wzz.neko.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="register_time" jdbcType="TIMESTAMP" property="registerTime" />
    <result column="role" jdbcType="INTEGER" property="role" />
    <result column="active_code" jdbcType="VARCHAR" property="activeCode" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <update id="updateUserStatusByCode">
    update t_user set status = #{status} where active_code = #{code}
  </update>
  <select id="findByUsername" resultType="java.lang.Integer">
    select count(1) from t_user
    where username = #{username}
  </select>
  <select id="selectByUsernameAndPwd" resultMap="BaseResultMap">
    select * from t_user
    where username = #{name} and password = #{pwd}
  </select>

  <select id="selectByActiveCode" resultMap="BaseResultMap">
    select * from t_user
    where active_code = #{code}
  </select>
    <select id="findByEmail" resultMap="BaseResultMap">
      select * from t_user
      where email = #{email}
    </select>

</mapper>